// app global css in Sass form

@font-face
  font-family: poppins
  src: url("./fonts/Poppins-Regular.ttf")

@font-face
  font-family: 'hundin1451'
  src: url("./fonts/hundin1451.ttf") format("truetype"), url("./fonts/hundin1451.ttf") format("truetype")
  font-weight: normal
  font-style: normal

.hundin
  font-family: 'hundin1451'

.landing__space
  width: 400vw
  height: 400vh
  top: 50%
  left: 50%
  margin-top: -200vh
  margin-left: -200vw
  -webkit-animation: logo-rotate 200s linear infinite
  animation: logo-rotate 200s linear infinite
  background-size: 240px
  -webkit-backface-visibility: visible
  backface-visibility: visible
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNDAgMjQwIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTA2IDkwaDJ2MmgtMnpNNzQgNjNoMXYxaC0xek0yMyA2NmgxdjFoLTF6TTUwIDExMGgxdjFoLTF6TTYzIDEyOGgxdjFoLTF6TTQ1IDE0OWgxdjFoLTF6TTkyIDE1MWgxdjFoLTF6TTU4IDhoMXYxaC0xek0xNDcgMzNoMnYyaC0yek05MSA0M2gxdjFoLTF6TTE2OSAyOWgxdjFoLTF6TTE4MiAxOWgxdjFoLTF6TTE2MSA1OWgxdjFoLTF6TTEzOCA5NWgxdjFoLTF6TTE5OSA3MWgzdjNoLTN6TTIxMyAxNTNoMnYyaC0yek0xMjggMTYzaDF2MWgtMXpNMjA1IDE3NGgxdjFoLTF6TTE1MiAyMDBoMXYxaC0xek01MiAyMTFoMnYyaC0yek0wIDE5MWgxdjFIMHpNMTEwIDE4NGgxdjFoLTF6Ii8+PC9zdmc+)

.bg-0, .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9
  background-size: cover
  background-position: center center
.bg-0
  background-image: url('~assets/bg/bg-0.jpg')
.bg-1
  background-image: url('~assets/bg/bg-1.jpg')
.bg-2
  background-image: url('~assets/bg/bg-2.jpg')
.bg-3
  background-image: url('~assets/bg/bg-3.jpg')
.bg-4
  background-image: url('~assets/bg/bg-4.jpg')
.bg-5
  background-image: url('~assets/bg/bg-5.jpg')
.bg-6
  background-image: url('~assets/bg/bg-6.jpg')
.bg-7
  background-image: url('~assets/bg/bg-7.jpg')
.bg-8
  background-image: url('~assets/bg/bg-8.jpg')
.bg-9
  background-image: url('~assets/bg/bg-9.jpg')

.br-xs
  border-radius: 3px
.br-sm
  border-radius: 5px
.br-md
  border-radius: 7px
.br-lg
  border-radius: 10px
.br-xl
  border-radius: 13px

body, .poppins
  font-family: 'poppins'

a
  text-decoration: none

.inline-block
  display: inline-block

.overflow-hidden
  overflow: hidden

.half-color-primary
  background-image: linear-gradient(var(--q-color-primary) 50%, transparent 50%)
.half-color-secondary
  background-image: linear-gradient(var(--q-color-secondary) 50%, transparent 50%)
.half-color-accent
  background-image: linear-gradient(var(--q-color-accent) 50%, transparent 50%)
.half-color-dark
  background-image: linear-gradient(var(--q-color-dark) 50%, transparent 50%)
.half-color-positive
  background-image: linear-gradient(var(--q-color-positive) 50%, transparent 50%)
.half-color-negative
  background-image: linear-gradient(var(--q-color-negative) 50%, transparent 50%)
.half-color-info
  background-image: linear-gradient(var(--q-color-info) 50%, transparent 50%)
.half-color-warning
  background-image: linear-gradient(var(--q-color-warning) 50%, transparent 50%)

.side-menu-left-active
  .q-item__section--avatar
    color: $primary
  .q-item__section--main
    color: white

.q-avatar
  font-size: 44px

.q-drawer--left
  .q-list
    .fas, .far, .fab
      font-size: 18px

.q-btn--round
  &.square
    border-radius: 3px
  .q-btn__wrapper
    min-width: 2.5em
    min-height: 2.5em

.q-btn
  font-size: 1em
  .q-icon
    &.fas, &.far, &.fab
      font-size: 1em

.q-table__sort-icon
  margin-bottom: 4px

.window-height-header
  height: calc(100vh - 50px)

.window-height-header-footer
  height: calc(100vh - 100px)

@media (min-width: 320px) and (max-width: 480px)
  .high-chart
    width: calc(100vw - 32px)

@-webkit-keyframes logo-rotate
  to
    transform: rotate(-360deg)

@keyframes logo-rotate
  to
    transform: rotate(-360deg)