// app global css in Sass form

@font-face
  font-family: 'poppinsmedium'
  src: url("./fonts/poppins-medium-webfont.woff2") format("woff2"), url("./fonts/poppins-medium-webfont.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'poppinsregular'
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2"), url("./fonts/poppins-regular-webfont.woff") format("woff")
  font-weight: normal
  font-style: normal

.poppins-m, .medium
  font-family: 'poppinsmedium'

.poppins-r, .regular
  font-family: 'poppinsregular'

.bg-0, .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7
  background-position: center center
.bg-0
  background-image: url('~assets/bg/bg-0.jpg')
.bg-1
  background-image: url('~assets/bg/bg-1.jpg')
.bg-2
  background-image: url('~assets/bg/bg-2.jpg')
.bg-3
  background-image: url('~assets/bg/bg-3.jpg')
.bg-4
  background-image: url('~assets/bg/bg-4.jpg')
.bg-5
  background-image: url('~assets/bg/bg-5.jpg')
.bg-6
  background-image: url('~assets/bg/bg-6.jpg')
.bg-7
  background-image: url('~assets/bg/bg-7.jpg')

body
  font-family: 'poppinsmedium'

a
  text-decoration: none

.inline-block
  display: inline-block

.side-menu-left-active
  .q-item__section--avatar
    color: $primary
  .q-item__section--main
    color: white

.q-avatar
  font-size: 44px

.full-height-header
  height: calc(100vh - 50px)

.menu-button
    display: none

@media (max-width: 1024px)
  .menu-button
    display: inline-flex

@media (min-width: 320px) and (max-width: 480px)
  .full-height-header
    height: calc(50vh - 50px)
